body{
    min-height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.app-area{
    height:98vh;
    width:95vw;
    /* background-color: plum; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.songlist{
    height:92vh;
    width:26vw;
    /* background-color: blanchedalmond; */
    padding:10px;
}

.list-container{
    height: 82.5vh;
    width:22vw;
    background-color: pink;
    border-radius: 6rem;
    border: 4px solid white;
    padding:2rem;
    font-size: 18px;
    overflow-y: scroll;
}

.list-container::-webkit-scrollbar{
    display: none;
}

.vid-lyric{
    height:95vh;
    width:30vw;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.video{
    height: 30vh;
    width:28.5vw;
    background-color: pink;
    border-radius: 6rem;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe {
  border-radius: 6rem;
  overflow: hidden;
}


.song-container{
    height:42vh; /*  48 */
    width:20vw;
    background-color: pink;
    border-radius: 8rem;
    border: 4px solid white;
    overflow-y: scroll;
    padding: 4rem;
}

.song-container::-webkit-scrollbar{
    display: none;
}